$--color-white: #FFF !default;
$--color-border-line: #E6E6E6 !default;
$--color-main-background: #F5F7F9 !default;
$--color-primary: #2F9688 !default;
$--color-success: #1E9FFF !default;
$--color-warning: #FEC171 !default;
$--color-danger: #C03639 !default;
$--color-info: #909399 !default;  // this is a bad color

$--font-light: #999999;
$--font-normal: #666666;
$--font-dark: #333333;
